body{
	background-color: #545454;
	border: solid black 2px;
	height: auto;
	
}
main{
	border: solid black 2px;
	height: 87%;
	
}
header{
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
	margin-bottom: 18px;
}
.container{
	background-color: #a3620a;
	max-width: auto;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 40px;
}

li{
	display: inline;
}

#about p{
	text-align: center;
}

img{
	border: solid black 2px;
	max-width: 600px;
	height: auto;
	margin-top: 12px;
}

footer{
	clear: both;
	padding: 3px;
	background-color: black;
	text-align: center;
	color: #a3620a;
}